

html body{
    background-color:#B0E1DE;
}

.jumbotron {
    background-image: url("../images/jumbotron-img.jpg");
    background-size: cover;
  }

 .instructions{
     height: 120px;
     color:#450497;
 }